apscheduler==3.11.3
earthengine_api==1.7.43
fastapi==0.142.2
httpx==0.28.1
huggingface_hub==2.0.0
numpy==2.5.3
pandas==3.0.6
Pillow==12.3.0
pydantic==2.13.5
pydantic_settings==2.15.0
qwen_vl_utils==0.0.14
Requests==2.34.2
scikit_learn==1.9.1
SQLAlchemy==2.1.1
torch==2.14.1
transformers==5.18.0
