apscheduler
earthengine_api
fastapi
httpx
huggingface_hub
numpy
pandas
Pillow
pydantic
pydantic_settings
qwen_vl_utils
Requests
scikit_learn
SQLAlchemy
torch
transformers
tokenizers
uvicorn[standard]
greenlet
asyncpg
opencv-python-headless
accelerate
bitsandbytes
open_clip_torch
