apscheduler
earthengine_api
fastapi
httpx
huggingface_hub
numpy
pandas
Pillow
pydantic>=2.0.0
pydantic_settings>=2.0.0
qwen_vl_utils
Requests
scikit_learn
SQLAlchemy
torch
transformers
tokenizers
uvicorn[standard]
greenlet
asyncpg
opencv-python-headless
accelerate
bitsandbytes
open_clip_torch
modal
datetime
